<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Section-->
<div th:include="fragment/header::headerFragment"></div>
<section class="py-5" >
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col mb-5" th:each="user : ${users}">
                <div class="card h-100" th:each="product : ${user.products}">
                    <!-- Product image-->
                    <img class="card-img-top" th:src="@{/getImage(profilePic=${product.imgPath})}" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${product.title}"></h5>
                            <!-- Product price-->
                            <p th:text="${product.price}"></p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <form action="/orders/add" method="post">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><input class="btn btn-outline-dark mt-auto" type="hidden"
                                                            th:each="product : ${user.products}" name="productId"
                                                            th:value="${product.id}"/>

                                <button type="submit">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
